<div class="row gutters auto">
  <div class="col"><span class="focus tag">Users </span> <span class="label focus outline"><%= users %></span></div>
  <div class="col"><span class="tag focus">Cars </span><span class="label focus outline"><%= cars %></span></div>
    <div class="col"><span class="tag error">Unknown <span class="label error outline"><%= unknown_cars %></span></div>
    <div class="col"><span class="tag black">Total</span> <span class="label strong black">PLN <%= total %></span></div>
    <div class="col"><a id="csvExport" class="button small">Download CSV</a></div>
</div>


<table id="report" class="boarded">
  <thead>
    <th class="w15">Name</th>
    <th class="w75">Parking records</th>
    <th class="w10">User spent</th>
  </thead>
  <tbody>
    <% report_data.each do |name, pd| %>
      <tr class="<%= name == unknown ? "unknown" : "" %>">
        <td><%= name %></td>
        <td>
          <% pd.reject {|k,_| k == "total"}.each do |plate, records| %>
            <span class="label success small"><%= plate %></span> <span class="tag success small"><%= records.sum.round(2) %></span>
          <% end %>
        </td>
        <td><span class="strong small">PLN <%= pd["total"].round(2) %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
<pre id="csvData" style="display:none">
<%= csv_data %>
</pre>
