<div class="row gutters auto">
  <div class="col"><span class="focus tag">Owners </span> <span class="label focus outline"><%= owner_count %></span></div>
  <div class="col"><span class="tag focus">Cars </span><span class="label focus outline"><%= license_plate_count %></span></div>
    <div class="col"><span class="tag error">Unknown <span class="label error outline"><%= unknown_license_plate_count %></span></div>
    <div class="col"><span class="tag black">Total</span> <span class="label strong black">PLN <%= total %></span></div>
</div>

<h3>By Department</h2>
<table class="boarded striped">
  <thead>
    <th>Department</th>
    <th>License costs</th>
    <th>Parking costs</th>
    <th>Total</th>
  </thead>
  <tbody>
    <% department_report.each do |dd| %>
    <tr>
      <td><%= dd.department_name %></td>
      <td><span class="small">PLN <%= dd.license_costs %></span></td>
      <td><span class="small">PLN <%= dd.parking_costs %></span></td>
      <td><span class="strong small">PLN <%= dd.total %></span></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3>By Owner</h2>
<table id="report" class="boarded striped">
  <thead>
    <th class="w15">Name</th>
    <th class="w15">Department</th>
    <th class="w60">Parking records</th>
    <th class="w10">User spent</th>
  </thead>
  <tbody>
    <% parking_report_rows.each do |row| %>
      <tr class="<%= row.owner == PlateReader::UNKNOWN ? "unknown" : "" %>">
        <td><%= row.owner %></td>
        <td><%= row.department %></td>
        <td>
          <% row.usage.group_by {|u| u.license_plate}.each do |plate, records| %>
            <span class="label success small"><%= plate %></span> <span class="tag success small"><%= records.map(&:gross_fee).sum.round(2) %></span>
          <% end %>
        </td>
        <td><span class="strong small">PLN <%= row.total.round(2) %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col"><a id="csvExport" class="button small">Download CSV</a></div>
<pre id="csvData" style="display:none">
<%== csv_data -%>
</pre>
